.main {
  width: 100%;
}

.main > img {
  width: 95%;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

@media screen and (max-width: 425px) {
  .main {
    margin-top: 30px;
  }

  .main > img {
    width: 100%;
    padding: 0;
  }
}
