.main {
  width: 95%;
  /* a태그 간격 없애기 */
  font-size: 0;
  margin: 0 auto;
}

.main > a {
  width: 100%;
}

.main > a > img {
  width: 100%;
}

@media screen and (max-width: 425px) {
  .main {
    width: 100%;
  }
}
